{% extends 'myapp/base.html' %}
{%load static %}


{% block content %}



    {% if user.is_superuser%}
        <div class="container">
            <div class="jumbotron text-center">
                {% if object_list %}
                    {% for data in object_list %}
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-4" ><a href="{% url 'person_detail' pk=data.pk%}"><h1>{{data.name}}</h1> </a></div>
                            <div class="col-sm-4" ><a href="{% url 'delete_person' pk=data.pk %}"><h1>
                                <span class="glyphicon glyphicon-remove" data-toggle="Delete" data-placement="top" title="delete"></span></h1></a><br>
                            </div>
                            <div class="col-sm-4" ><a href="{% url 'update_person' pk=data.pk %}"><h1>
                                <span class="glyphicon glyphicon-edit" data-toggle="Update" data-placement="top" title="update"></span></h1></a><br>
                            </div>
                        </div>
                    </div>

                {% endfor %}

                {% else %}
                    <h1>There is no longer details</h1>
                {%endif%}


            </div>
        </div>
    {% else %}
        <div class="container">
            <div class="jumbotron text-center">
                <h1>You are not SuperUser</h1>
            </div>
        </div>

    {% endif %}



    <script type="text/javascript" src="{% static 'myapp/js/about.js'%}"></script>
<!--    <button class="click" name="click" value="click">click</button>-->


{% endblock %}


