<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">

    <title>BASE HTML</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="{%static 'css/base.css' %}">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

<!--    <script type="text/javascript" src="{% static 'myapp/js/base.js'%}"></script>-->


</head>


<body style="background-image:url('{%static 'myapp/images/bg4.jpg'%}');" >

    <div class="base-navbar">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                  <a class="navbar-brand" href="#">MyApplication</a>
                </div>

                <ul class="nav navbar-nav">
                    <li class=""><a href="{% url 'home_page' %}">Home</a></li>
                    <li class=""><a href="{% url 'person_list' %}">About</a></li>
                    <li class=""><a href="{% url 'practice' %}">Practice</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Services<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Service-1</a></li>
                            <li><a href="#">Service-2 </a></li>
                            <li><a href="#">Service-3</a></li>
                        </ul>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">

                    {% if user.is_authenticated %}
                        <li>
                            <a href="{% url 'logout' %}" >Logout</a>
                        </li>

                        {% if user.is_superuser %}
                            <li>
                                <a  href="{% url 'new_customer_entry' %}" >Entry</a>
                            </li>
                            <li>
                                <a  href="{% url 'customer_list' %}" >Customers</a>
                            </li>
                            <li>
                                <a  href="{% url 'add_person' %}" >Add</a>
                            </li>
                            <li>
                                <a >Welcome: {{ user.username }}</a>
                            </li>

                        {%else%}

                            <li>
                                <a> Welcome User: {{ user.username }}</a>
                            </li>

                        {% endif %}

                    {% else %}

                        <li><a  href="{% url 'user_login' %}" ><span  style="margin:5px;" class=""></span>Login</a></li>
                        <li><a  href="{% url 'signup' %}" ><span  style="margin:5px;" class=""></span>SignUp</a></li>
                        <li><a  href="{% url 'login' %}" ><span  style="margin:5px;" class="glyphicon glyphicon-user"></span></a></li>

                    {% endif %}

                </ul>
            </div>
        </nav>
    </div>


    <div class="base-header">
        <div class="container">
            <div class="jumbotron text-center">
                <h1>Base</h1>
            </div>
        </div>
    </div>

    <div class="base-main">
            {% block content %}
                <div class="container new">
                    <div class="text-center">
                        <h1>Welcome Home Page</h1>
                    </div>
                </div>

            {% if user.is_authenticated%}
                <div class="container">
                    <div class="text-center">
        <!--                <img src="{%static 'myapp/images/welcome.jpg'%}" width="500px" height="500px">-->
                    </div>
                </div>
            {% endif %}
                <br>
                <div class="container ">
                    <div id="myCarousel" class="carousel slide" data-ride="carousel" style="width:100%;height:500px;margin:auto;">
                      <!-- Indicators -->
                      <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>

                      </ol>

                      <!-- Wrapper for slides -->
                      <div class="carousel-inner" role="listbox">
                        <div class="item active">
                          <img style="width:100%;height:500px;" src="{%static 'myapp/images/bg.jpg'%}" alt="Los Angeles">
                        </div>

                        <div class="item">
                          <img style="width:100%;height:500px;" src="{%static 'myapp/images/welcome.jpg'%}" alt="Chicago">
                        </div>

                      </div>

                      <!-- Left and right controls -->
                        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                            <span class="icon-prev" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                            <span class="icon-next" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>

                    </div>
                </div>
            {% endblock %}

    </div>


    <div class="base-footer">

        <footer class="page-footer font-small blue pt-4 footer" id="new">
            <div class="container-fluid text-center text-md-left">

                <div class="row">

                    <div class="col-md-6 ">
                        <h3 class="text-uppercase text-center">Footer Content</h3>
                        <p>Here you can use rows and columns to organize your footer content.</p>
                    </div>

                    <div class="col-md-3 ">
                        <h5 class="text-uppercase ">Links</h5>

                        <ul class="list-unstyled">
                          <li>
                            <a href="#!">Link 1</a>
                          </li>
                          <li>
                            <a href="#!">Link 2</a>
                          </li>
                          <li>
                            <a href="#!">Link 3</a>
                          </li>
                          <li>
                            <a href="#!">Link 4</a>
                          </li>
                        </ul>
                    </div>

                    <div class="col-md-3">
                        <h5 class="text-uppercase">Links</h5>

                        <ul class="list-unstyled">
                            <li>
                                <a href="#!">Link 1</a>
                            </li>
                            <li>
                                <a href="#!">Link 2</a>
                            </li>
                            <li>
                                <a href="#!">Link 3</a>
                            </li>
                            <li>
                                <a href="#!">Link 4</a>
                            </li>
                        </ul>
                    </div>

                </div>


                </div>

                    <div class="footer-copyright text-center py-3 copy-right">© 2020 Copyright:
                        <a href="https://mdbootstrap.com/"> MDBootstrap.com</a>
                    </div>

        </footer>
    </div>



</body>
</html>