{% extends 'myapp/base.html' %}
{%load static %}

{% block content %}
    <div class="container">
        <div class="jumbotron text-center">
            <form action="" method="post">{% csrf_token %}
                {{ form.as_p }}

                <p>Are you sure you want to update customer "{{ object }}"?</p>
                <input class='btn btn-danger' type="submit" value="Confirm" />
                <a href="{%url 'customer_list'%}"><button class="btn btn-danger" type="button">Cancel</button></a>
            </form>
        </div>
    </div>



    <script type="text/javascript" src="{% static 'myapp/js/customer_update.js'%}"></script>


{% endblock %}
